<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
    <h3 class="text-2xl font-bold text-center">Register</h3>
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="mt-4">
        <div class="mt-4">
          <label for="dni" class="block">DNI</label>
          <input type="text" maxlength="8" minlength="8" name="dni" [(ngModel)]="form.dni" required
                 class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" />
          <button type="button" (click)="validateDni()" class="mt-2 px-4 py-2 bg-green-500 text-white rounded hover:bg-green-700">
            Validar DNI
          </button>
        </div>
        <div class="mt-4">
          <label for="firstName" class="block">Nombres</label>
          <input type="text" name="firstName" [(ngModel)]="form.firstName" readonly
                 class="w-full px-4 py-2 mt-2 border rounded-md bg-gray-100" />
        </div>
        <div class="mt-4">
          <label for="lastNamePaternal" class="block">Apellido Paterno</label>
          <input type="text" name="lastNamePaternal" [(ngModel)]="form.lastNamePaternal" readonly
                 class="w-full px-4 py-2 mt-2 border rounded-md bg-gray-100" />
        </div>
        <div class="mt-4">
          <label for="lastNameMaternal" class="block">Apellido Materno</label>
          <input type="text" name="lastNameMaternal" [(ngModel)]="form.lastNameMaternal" readonly
                 class="w-full px-4 py-2 mt-2 border rounded-md bg-gray-100" />
        </div>
        <div class="mt-4">
          <label for="email" class="block">Email</label>
          <input type="email" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                 name="email" [(ngModel)]="form.email" required email #email="ngModel" />
          <div class="text-red-600" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']">Email is required</div>
            <div *ngIf="email.errors['email']">Email must be a valid email address</div>
          </div>
        </div>
        <div class="mt-4">
          <label for="password" class="block">Password</label>
          <input type="password" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                 name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" />
          <div class="text-red-600" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="mt-4">
          <label for="confirmPassword" class="block">Confirm Password</label>
          <input type="password" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
                 name="confirmPassword" [(ngModel)]="form.confirmPassword" required minlength="6" #confirmPassword="ngModel" />
          <div class="text-red-600" *ngIf="confirmPassword.errors && f.submitted">
            <div *ngIf="confirmPassword.errors['required']">Confirm Password is required</div>
            <div *ngIf="confirmPassword.errors['minlength']">Confirm Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="flex items-baseline justify-between">
          <button class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Register</button>
        </div>
        <div class="text-red-600" *ngIf="f.submitted && isSignUpFailed">
          Signup failed: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="text-green-600" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
